<% modals = ["email-updates", "about-me", "follow-me", "contact-me"] %>

<% modals.each do |modal| %>
<div class="modal fade" id="modal-<%= modal %>" tabindex="-1" role="dialog" aria-labelledby="modal-label-<%= modal %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-label-<%= modal %>">
          <%= modal.gsub("-", " ").split.map(&:capitalize).join(" ") %>
        </h4>
      </header>
      <div class="modal-body">
        <%= partial "partials/modals/#{modal}" %>
      </div>
      <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </footer>
    </div>
  </div>
</div>
<% end %>