<aside class="social-sharing">

	<h4 class="social-sharing-heading">
		<!-- Share This Post -->
	</h4>

	<a href="https://news.ycombinator.com/submitlink?u=<%= permalink_helper %>&t=<%= title_helper %>" class="social-sharing-button" target="_blank">
	    <span class="icon icon-social-hacker-news"></span>
	</a>

	<a href="http://twitter.com/home/?status=<%= title_helper %> - <%= permalink_helper %> via @dconjar" class="social-sharing-button" target="_blank">
	    <span class="icon icon-social-twitter"></span>
	</a>

	<a href="https://plus.google.com/share?url=<%= permalink_helper %>" class="social-sharing-button" target="_blank">
	    <span class="icon icon-social-google-plus"></span>
	</a>

	<a href="http://www.facebook.com/sharer.php?u=<%= permalink_helper %>&t=<%= title_helper %>" class="social-sharing-button" target="_blank">
	    <span class="icon icon-social-facebook"></span>
	</a>

</aside>