---
title: Derek Conjar, web craftsman
description: Derek Conjar is a web developer and such.
---

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>

  <article class="hentry">
      <header>
          <h2 class="entry-title heading-primary">
              <%= link_to article.title, article %>
          </h2>
      </header>

      <div class="entry-content">
        <%= article.body %>
      </div>

      <%= partial "partials/social-sharing-buttons", :locals => { :article => article } %>
  </article>

<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>